body{
    font-family: 'Noto Serif', serif;
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;

}
#heading{
    text-align: center;
    background: #CAC531;
    margin-top: 0;
    padding: 20px;
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);
    background: linear-gradient(to right, #F3F9A7, #CAC531);
}
textarea{
    display: block;
    width: 80%;
    height: 20vh;
    overflow-y: scroll;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1.2em;
}
#btn-translate{
    display: block;
    margin: auto;
    font-size: 20px;
    color: aliceblue;
    padding: 10px;
    background-color: green;
    border-radius: 70%;

}
#btn-translate:hover{
    background-color: red;
}
#output{
    border: 1px solid black;
    height: 16vh;
    overflow-y: scroll;
    width: 80%;
    margin: auto;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    background: #CAC531;
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);
    background: linear-gradient(to right, #F3F9A7, #CAC531);
    width: 100vw;
}
#footer-heading {
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem ;
}
footer p {
    text-align: center;
    max-width: 60%;
    margin: auto;
    padding-bottom: 1rem;
}